{{> users/settingsCSS}}
{{> layout/sidebar}}

<div class="home-section home-section-container">
    <section class="container">
        <a class="imageColumn" value="click to upload image" href="/users/uploadimage">
            {{#if user.profilePic}}
            <div class="imageContainer">
                <img class="img" src="{{receiptImage user.profilePic}}">
                <div class="uploadOverlay">{{#if (isEqual navdata.language "English")}}Upload Image{{else}}رفع الصورة{{/if}}</div>
            </div>
            {{else}}
            <div class="imageContainer">
                <img class="img" src="/images/avatar.jpg">
                <div class="uploadOverlay">{{#if (isEqual navdata.language "English")}}Upload Image{{else}}رفع الصورة{{/if}}</div>
            </div>
            {{/if}}
        </a>

        <div>
            <div class="headerColumn">
                <h3>{{#if (isEqual navdata.language "English")}}Basic Info{{else}}المعلومات الأساسية{{/if}}</h3>
                <a href="/users/changeinfo">{{#if (isEqual navdata.language "English")}}Update Info{{else}}تحديث المعلومات{{/if}}</a>
            </div>
            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Name{{else}}الاسم{{/if}}</label><span>{{user.name}}</span>
            </div>

            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Name (Arabic){{else}}الاسم (عربي){{/if}}</label><span>{{user.arabicName}}</span>
            </div>

            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Birthday{{else}}تاريخ الولادة{{/if}}</label><span>{{#if (isEqual navdata.language "English")}}{{user.birthday}}{{else}}{{convertToArabicDate user.birthday}}{{/if}}</span>
            </div>

            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Gender{{else}}الجنس{{/if}}</label><span>{{#if (isEqual navdata.language "English")}}{{user.gender}}{{else}}{{genderToArabic user.gender}}{{/if}}</span>
            </div>
            <hr>
        </div>


        <div>
            <div class="headerColumn"><h3>{{#if (isEqual navdata.language "English")}}Contact Info{{else}}{{/if}}</h3></div>
            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Email{{else}}البريد إلكتروني{{/if}}</label><span>{{user.email}}</span>
            </div>

            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Phone{{else}}الهاتف{{/if}}</label><span dir="ltr">{{user.phone.dialCode}} {{user.phone.number}}</span>
            </div>
            <hr>

            <div class="headerColumn">
                <h3>{{#if (isEqual navdata.language "English")}}General{{else}}عام{{/if}}</h3>
                <a href="/users/changelanguage">{{#if (isEqual navdata.language "English")}}Change Language{{else}}تغيير اللغة{{/if}}</a>
            </div>
            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Language{{else}}اللغة{{/if}}</label><span>{{user.language}}</span>
            </div>
            <hr>
        </div>

        <div>
            <div class="headerColumn">
                <h3>{{#if (isEqual navdata.language "English")}}Address Info{{else}}معلومات العنوان{{/if}}</h3>
                <a href="/users/changeaddress">{{#if (isEqual navdata.language "English")}}Update Address{{else}}تحديث العنوان{{/if}}</a>
            </div>
            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Country{{else}}البلد{{/if}}</label><span>{{user.country}}</span>
            </div>

            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}City{{else}}المدينة{{/if}}</label><span>{{user.city}}</span>
            </div>

            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Address{{else}}العنوان{{/if}}</label><span>{{user.address1}} {{user.address2}}</span>
            </div>

            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}ZIP Code{{else}}الرمز البريدي{{/if}}</label><span>{{user.zipCode}}</span>
            </div>
            <hr>
        </div>


        <div>
            <div class="headerColumn">
                <h3>{{#if (isEqual navdata.language "English")}}Academic Details{{else}}التفاصيل الأكاديمية{{/if}}</h3>
                <a href="/users/changeacademicdetails">{{#if (isEqual navdata.language "English")}}Update Details{{else}}تحديث التفاصيل{{/if}}</a>
            </div>
            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Role{{else}}الدور{{/if}}</label><span>{{user.role.name}}</span>
            </div>

            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Major{{else}}المجال{{/if}}</label><span>{{user.major.name}}</span>
            </div>

            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Specialization{{else}}التخصص{{/if}}</label><span>{{user.specialization.name}}</span>
            </div>

            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}Affiliation{{else}}الانتساب{{/if}}</label><span>{{user.affiliation}}</span>
            </div>
            <hr>
        </div>

        <div>
            <div class="headerColumn">
                <h3>{{#if (isEqual navdata.language "English")}}Research Profile{{else}}الملف البحثي{{/if}}</h3>
                <a href="/users/changeresearchprofile">{{#if (isEqual navdata.language "English")}}Update Profile{{else}}تحديث الملف{{/if}}</a>
            </div>
            <div class="dataColumn">
                <label>{{#if (isEqual navdata.language "English")}}ORCID{{else}}ORCID{{/if}}</label><span>{{user.orcid}}</span>
            </div>
            <hr>

            <div class="headerColumn">
                <h3>{{#if (isEqual navdata.language "English")}}Password{{else}}كلمة المرور{{/if}}</h3>
                <a href="/users/changepassword">{{#if (isEqual navdata.language "English")}}Change Password{{else}}تغيير كلمة المرور{{/if}}</a>
            </div>
        </div>
    </section>
</div>


<script>
    const form = document.querySelector('#form')
</script>