{{> lists/tableListCSS}}
{{> layout/sidebar}}

<section class="home-section home-section-container">

    {{!-- Flash Message --}}
    {{> components/flashMessage/flashMessage}}


    <!-- take data of lists from backend and list it in a tables -->
    <div class="content" id="content">
        <main class="table">
            {{!-- Table Header --}}
            <section class="table__header">
                <h1>{{#if (isEqual navdata.language "English")}}My Researches{{else}}أبحاثي{{/if}}</h1>
                <div class="error"><span id="error">{{alert}}</span></div>
                <div class="input-group">
                    <input type="search" id="search" onkeyup='search()' placeholder="{{#if (isEqual navdata.language 'English')}}Search...{{else}}البحث...{{/if}}">
                    <i class='bx bx-search'></i>
                </div>
            </section>

            {{!-- Table Body --}}
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>{{#if (isEqual navdata.language "English")}}Full Name{{else}}الإسم الكامل{{/if}}</th>
                            <th>{{#if (isEqual navdata.language "English")}}Username{{else}}إسم المستخدم{{/if}}</th>
                            <th>{{#if (isEqual navdata.language "English")}}Email{{else}}الحساب البريدي{{/if}}</th>
                            <th>{{#if (isEqual navdata.language "English")}}Group{{else}}المجموعة{{/if}}</th>
                            <th>{{#if (isEqual navdata.language "English")}}View{{else}}تحرير{{/if}}</th>
                            {{!-- <th>{{#if (isEqual navdata.language "English")}}Delete{{else}}حذف{{/if}}</th> --}}
                            <th>{{#if (isEqual navdata.language "English")}}Delete{{else}}أرشيف{{/if}}</th>
                            <th>{{#if (isEqual navdata.language "English")}}Archive{{else}}رسالة{{/if}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users as |user key|}}
                        <tr id="{{user._id}}">
                            <td>{{user.fullName}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.group.name}}</td>
                            <td><a href="/users/{{user._id}}"><i class='bx bx-show'></i></a></td>
                            <td>
                                <a id="del{{value._id}}" onclick="deleteConfirm('{{research._id}}')" href='#'><i
                                        class='bx bx-trash'></i></a>
                            </td>
                            <td>
                                <a id="archive{{value._id}}" onclick="archiveConfirm('{{research._id}}')" href='#'><i
                                        class='bx bx-archive-in'></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </section>
            <a href="users/add" class="add-anchor" type="button">+</a>
        </main>

    </div>

</section>

{{> lists/tableListScript}}