{{> design/sidebarCSS}}

<div class="sidebar close">
    <div class="logo-details">
            <i class="fa-solid fa-building-columns icon"></i>
            <span class="logo_name">University</span>
        <i class="fa-solid fa-xmark"></i>
    </div>

    <ul class="nav-links">

        <li style="{{#if isHome}}{{#if (isEqual navdata.language "English")}}border-left: 4px solid #e2ff65;{{else}}border-right: 4px solid #e2ff65;{{/if}}{{/if}}">
            <a href="/" style="{{#if isHome}}{{#if (isEqual navdata.language "English")}}margin-left: -4px{{else}}margin-right: -4px{{/if}}{{/if}}">
                <i class='bx bx-home-alt' ></i>
                <span class="link_name">{{#if (isEqual navdata.language "English")}}Home{{else}}الصفحة الرئيسية{{/if}}</span>
            </a>
                <ul class="sub-menu blank">
                <li><a class="link_name" href="/">{{#if (isEqual navdata.language "English")}}Home{{else}}الصفحة الرئيسية{{/if}}</a></li>
            </ul>
        </li>

        
        <li style="{{#if isUser}}{{#if (isEqual navdata.language "English")}}border-left: 4px solid #e2ff65;{{else}}border-right: 4px solid #e2ff65;{{/if}}{{/if}}">
            <a href="/users" style="{{#if isUser}}{{#if (isEqual navdata.language "English")}}margin-left: -4px{{else}}margin-right: -4px{{/if}}{{/if}}">
                <i class='bx bx-user' ></i>
                <span class="link_name">{{#if (isEqual navdata.language "English")}}Users{{else}}المستخدمين{{/if}}</span>
            </a>
                <ul class="sub-menu blank">
                <li><a class="link_name" href="/">{{#if (isEqual navdata.language "English")}}Users{{else}}المستخدمين{{/if}}</a></li>
            </ul>
        </li>
        

        
        <li style="{{#if isResearcher}}{{#if (isEqual navdata.language "English")}}border-left: 4px solid #e2ff65;{{else}}border-right: 4px solid #e2ff65;{{/if}}{{/if}}">
            <a href="/researches" style="{{#if isResearcher}}{{#if (isEqual navdata.language "English")}}margin-left: -4px{{else}}margin-right: -4px{{/if}}{{/if}}">
                <i class="fa-regular fa-file-lines" ></i>
                <span class="link_name">{{#if (isEqual navdata.language "English")}}My Researches{{else}}أبحاثي{{/if}}</span>
            </a>
                <ul class="sub-menu blank">
                <li><a class="link_name" href="/">{{#if (isEqual navdata.language "English")}}My Researches{{else}}أبحاثي{{/if}}</a></li>
            </ul>
        </li>
        

        
        <li style="{{#if isResearches}}{{#if (isEqual navdata.language "English")}}border-left: 4px solid #e2ff65;{{else}}border-right: 4px solid #e2ff65;{{/if}}{{/if}}">
            <div class="iocn-link" style="{{#if isResearches}}{{#if (isEqual navdata.language "English")}}margin-left: -4px{{else}}margin-right: -4px{{/if}}{{/if}}">
                <a href="#">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">{{#if (isEqual navdata.language "English")}}My Researches{{else}}الأبحاث{{/if}}</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">{{#if (isEqual navdata.language "English")}}My Researches{{else}}الأبحاث{{/if}}</a></li>
                <li><a href="/researches/initialDecision">{{#if (isEqual navdata.language "English")}}Initial Decision{{else}}القرار الأولي{{/if}}</a></li>
                <li><a href="/researches/financialConfirmation">{{#if (isEqual navdata.language "English")}}Payment Confirmation{{else}}تأكيد الدفعة{{/if}}</a></li>
                <li><a href="/researches/addcommittee">{{#if (isEqual navdata.language "English")}}Add Committee{{else}}إضافة لجنة{{/if}}</a></li>
                <li><a href="/researches/decision">{{#if (isEqual navdata.language "English")}}In Process/Final Decision{{else}}قيد التنفيذ/القرار النهائي{{/if}}</a></li>
                <li><a href="/researches/finalDecision">{{#if (isEqual navdata.language "English")}}Final Decision{{else}}القرار النهائي{{/if}}</a></li>
            </ul>
        </li>
        

        
        <li style="{{#if isUpdateFees}}{{#if (isEqual navdata.language "English")}}border-left: 4px solid #e2ff65;{{else}}border-right: 4px solid #e2ff65;{{/if}}{{/if}}">
            <a href="/fees" style="{{#if isUpdateFees}}{{#if (isEqual navdata.language "English")}}margin-left: -4px{{else}}margin-right: -4px{{/if}}{{/if}}">
                <i class="fa-solid fa-money-bill-trend-up" ></i>
                <span class="link_name">{{#if (isEqual navdata.language "English")}}Update Fees{{else}}تحديث الرسوم{{/if}}</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">{{#if (isEqual navdata.language "English")}}Update Fees{{else}}تحديث الرسوم{{/if}}</a></li>
            </ul>
        </li>
        

        <li style="{{#if isSettings}}{{#if (isEqual navdata.language "English")}}border-left: 4px solid #e2ff65;{{else}}border-right: 4px solid #e2ff65;{{/if}}{{/if}}">
            <a href="/users/settings" style="{{#if isSettings}}{{#if (isEqual navdata.language "English")}}margin-left: -4px{{else}}margin-right: -4px{{/if}}{{/if}}">
                <i class='bx bx-cog' ></i>
                <span class="link_name">{{#if (isEqual navdata.language "English")}}Settings{{else}}الإعدادات{{/if}}</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">{{#if (isEqual navdata.language "English")}}Settings{{else}}الإعدادات{{/if}}</a></li>
            </ul>
        </li>
      
        <li>
            <div class="profile-details">
                <div class="profile-container">
                    <div class="profile-content">
                        {{!-- {{#if user.profilePic}}
                        <img class="img" src="{{sidebarImage navdata.profilePic}}">
                        {{else}}
                        
                        {{/if}} --}}
                        <img class="img" src="/images/avatar.jpg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name">username</div>
                        <div class="job">userType</div>
                    </div>
                </div>
                <a href="/logout"><i class='bx bx-log-out' ></i></a>
            </div>
        </li>   
    </ul>
</div>

<section class="home-section home-section-header">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      {{> menubar}}
    </div>
</section>



  <script>    
    const arrow = document.querySelectorAll(".arrow");
    const sidebar = document.querySelector(".sidebar");
    const sidebarBtn = document.querySelector(".bx-menu");
    const closeBtn = document.querySelector(".fa-xmark")

    for (let i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{

            let arrowParent = e.target.parentElement.parentElement;
            arrowParent.classList.toggle("showMenu");

        });
    }

    closeBtn.addEventListener("click",()=>{
        sidebar.classList.toggle("close")
        sidebar.classList.toggle("open")
    })
    
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
        sidebar.classList.toggle('open')
    });
  </script>