{{> design/signupCSS}}

<section class="container">
    <header>{{#if (isEqual webLanguage "English")}}Sign Up{{else}}اشتراك{{/if}}</header>
    <form action="/signup" class="form" id="form" method="post">
        <div class="form1">
            <div class="column">
                <div class="input-box">
                    <label>{{#if (isEqual webLanguage "English")}}Full Name (English){{else}}الاسم الكامل (الإنجليزية){{/if}}</label><span style="color: red">*</span>
                    <input type="text" placeholder="{{#if (isEqual webLanguage "English")}}Enter full name in English{{else}}أدخل الاسم الكامل باللغة الإنجليزية{{/if}}" name="name" id="name"/>
                </div>

                <div class="input-box">
                    <label>{{#if (isEqual webLanguage "English")}}Full Name (Arabic){{else}}الاسم الكامل (عربي){{/if}}</label>
                    <input type="text" placeholder="{{#if (isEqual webLanguage "English")}}Enter full name in Arabic{{else}}أدخل الاسم الكامل باللغة العربية{{/if}}" name="arabicName"  id="arabicName"/>
                </div>
            </div>

            <div class="column">
                <div class="select-box">
                    <label>{{#if (isEqual webLanguage "English")}}Title{{else}}اللقب{{/if}}</label><span style="color: red">*</span>
                    <select name="title" id="title">
                        <option disabled selected>{{#if (isEqual webLanguage "English")}}Select title{{else}}اختر اللقب{{/if}}</option>
                        <option value="Mr.">{{#if (isEqual webLanguage "English")}}Mr.{{else}}السيد{{/if}}</option>
                        <option value="Mrs.">{{#if (isEqual webLanguage "English")}}Mrs.{{else}}السيدة{{/if}}</option>
                    </select>
                </div>

                <div class="select-box">
                    <label>{{#if (isEqual webLanguage "English")}}Gender{{else}}الجنس{{/if}}</label><span style="color: red">*</span>
                    <select name="gender" id="gender">
                        <option disabled selected value="">{{#if (isEqual webLanguage "English")}}Select gender{{else}}اختر الجنس{{/if}}</option>
                        <option value="male">{{#if (isEqual webLanguage "English")}}Male{{else}}ذكر{{/if}}</option>
                        <option value="female">{{#if (isEqual webLanguage "English")}}Female{{else}}أنثى{{/if}}</option>
                    </select>
                </div>
            </div>

            <div class="column">
                <div class="select-box">
                    <label>{{#if (isEqual webLanguage "English")}}Role{{else}}الدور{{/if}}</label><span style="color: red">*</span>
                    <select name="role" id="role">
                        <option disabled selected value="">{{#if (isEqual webLanguage "English")}}Select role{{else}}اختر الدور{{/if}}</option>
                        {{#each roles as | role key |}}
                        <option value="{{role._id}}">{{role.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="input-box"><span style="color: red">*</span>
                    <label>{{#if (isEqual webLanguage "English")}}Email Address{{else}}عنوان البريد الإلكتروني{{/if}}</label>
                    <input type="text" placeholder="{{#if (isEqual webLanguage "English")}}Enter email address{{else}}أدخل عنوان البريد الالكتروني{{/if}}" name="email"  id="email"/>
                </div>
            </div>

            <div class="column">
                <div class="input-box password">
                    <label>{{#if (isEqual webLanguage "English")}}Password{{else}}كلمة المرور{{/if}}</label><span style="color: red">*</span>
                    <input type="password" placeholder="{{#if (isEqual webLanguage "English")}}Enter Password{{else}}أدخل كلمة المرور{{/if}}" name="password"  id="password" />
                    <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
                </div>
                <div class="input-box password">
                    <label>{{#if (isEqual webLanguage "English")}}Confirm Password{{else}}تأكيد كلمة المرور{{/if}}</label><span style="color: red">*</span>
                    <input type="password" placeholder="{{#if (isEqual webLanguage "English")}}Enter Confirm Password{{else}}أدخل تأكيد كلمة المرور{{/if}}" name="confirmPassword"  id="confirmPassword"/>
                    <i id="pass-toggle-confirm-btn" class="fa-solid fa-eye"></i>
                </div>
            </div>

            <div class="column">
                <div class="select-box">
                    <label>{{#if (isEqual webLanguage "English")}}Major Area{{else}}مجال الدراسة{{/if}}</label><span style="color: red">*</span>
                    <select name="major" id="major">
                        <option disabled selected value="">{{#if (isEqual webLanguage "English")}}Select major{{else}}حدد المجال{{/if}}</option>
                        {{#each majors as | major key |}}
                        <option value="{{major._id}}">{{major.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="select-box">
                    <label>{{#if (isEqual webLanguage "English")}}Specialization{{else}}التخصص{{/if}}</label>
                    <select name="specialization" id="specialization">
                        <option disabled selected value="">{{#if (isEqual webLanguage "English")}}Select specialization{{else}}اختر التخصص{{/if}}</option>
                        {{#each specializations as | specialization key |}}
                        <option value="{{specialization._id}}">{{specialization.name}}</option>
                        {{/each}}
                    </select>
                </div>  
            </div>

            <button class="nextBtn">
                <span class="btnText">{{#if (isEqual webLanguage "English")}}Next{{else}}التالي{{/if}}</span>
                <i class="uil uil-navigator"></i>
            </button>
        </div>

        <div class="form2">
            <div class="column">
                <div class="input-box">
                    <label>{{#if (isEqual webLanguage "English")}}Phone Number{{else}}رقم الهاتف{{/if}}</label><span style="color: red">*</span>
                    <input type="tel" placeholder="{{#if (isEqual webLanguage "English")}}Enter phone number{{else}}أدخل رقم الهاتف{{/if}}" id="phone" name="phone" min="0" />
                </div>

                <div class="input-box">
                    <label>{{#if (isEqual webLanguage "English")}}ORCID{{else}}ORCID{{/if}}</label>
                    <input type="text" placeholder="{{#if (isEqual webLanguage "English")}}Enter ORCID{{else}}ادخل ORCID{{/if}}" name="orcid"  id="orcid"/>
                </div>
            </div>
            
            <div class="input-box">
                <div class="column">
                    <div class="select-box">
                        <label>{{#if (isEqual webLanguage "English")}}Country{{else}}الدولة{{/if}}</label><span style="color: red">*</span>
                        <select name="country" id="country">
                            <option disabled selected value="">{{#if (isEqual webLanguage "English")}}Select your Country{{else}}اختر بلدك{{/if}}</option>
                            {{#each countries as |country key|}}
                            {{#unless (isEqual key "IL")}}
                            <option value="{{key}}">{{country.name}}</option>
                            {{/unless}}
                            {{/each}}
                        </select>
                    </div>

                    <div class="input-box">
                        <label>{{#if (isEqual webLanguage "English")}}City{{else}}المدينة{{/if}}</label><span style="color: red">*</span>
                        <input type="text" placeholder="{{#if (isEqual webLanguage "English")}}Enter your City{{else}}أدخل مدينتك{{/if}}" name="city" id="city"/>
                    </div>

                    <div class="input-box">
                        <label>{{#if (isEqual webLanguage "English")}}ZIP Code{{else}}الرمز البريدي{{/if}}</label><span style="color: red">*</span>
                        <input type="text" placeholder="{{#if (isEqual webLanguage "English")}}Enter ZIP Code{{else}}أدخل الرمز البريدي{{/if}}" name="zipCode" id="zipCode"/>
                    </div>
                </div>
                <div class="input-box">
                    <label>{{#if (isEqual webLanguage "English")}}Address{{else}}العنوان{{/if}}</label><span style="color: red">*</span>
                    <input type="text" placeholder="{{#if (isEqual webLanguage "English")}}Enter address{{else}}أدخل العنوان{{/if}}" name="address1" id="address1"/>
                    <label for=""></label>
                    <input type="text" placeholder="{{#if (isEqual webLanguage "English")}}Enter address{{else}}أدخل العنوان{{/if}}" name="address2"/>
                </div>
            </div>

            <div class="input-box">
                <label>{{#if (isEqual webLanguage "English")}}Affiliation{{else}}الانتساب{{/if}}</label><span style="color: red">*</span>
                <input type="text" placeholder="{{#if (isEqual webLanguage "English")}}Enter affiliation{{else}}أدخل الانتساب{{/if}}" name="affiliation" id="affiliation"/>
            </div>



            <div class="buttonDiv">
                <button class="backBtn">
                    <i class="uil uil-navigator"></i>
                    <span class="btnText">{{#if (isEqual webLanguage "English")}}Back{{else}}السابق{{/if}}</span>
                </button>
                                
                <button class="sumbit" onclick="submitForm()">
                    <span class="btnText">{{#if (isEqual webLanguage "English")}}Submit{{else}}تقديم{{/if}}</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </div>
    </form>
    <p class="loginSwitch">{{#if (isEqual webLanguage "English")}}Already have an Account? {{else}}هل لديك حساب؟ {{/if}}<a href="/login">{{#if (isEqual webLanguage "English")}}Login{{else}}تسجيل الدخول{{/if}}</a></p>
</section>

{{> script/signupScript}}