{{> design/userCSS}} 
{{> sidebar}}

{{!-- Flash Message --}}
{{!-- {{> component/flashMessage}} --}}
<style>
    .toast{
        top: 70px;
    }
</style>

<section class="home-section home-section-container">

    

    {{!-- Containers for all the Users Cards --}}
    <div class="usersContainer">

        {{!-- Container Header --}}
        <div class="header">
            <h1>{{#if (isEqual navdata.language "English")}}Users Details{{else}}المستخدمين{{/if}}</h1>
            <div class="input-group">
                <input type="search" id="search" onkeyup='search()' placeholder="{{#if (isEqual navdata.language "English")}}Search Data...{{else}}البحث...{{/if}}">
                <i class='bx bx-search'></i>
            </div> 
        </div>
        
        {{!-- Container Body --}}
        <div class="content" id="content">
            {{#each users as |user key|}}

                {{!-- User Card Profile --}}
                <div class="card" id="{{user._id}}">
                    
                    {{!-- Profile Name --}}
                    <div class="profile-header">
                        <h1 class="able">{{user.name}}</h1>
                    </div>

                    {{!-- Profile Options Edit/Delete --}}
                    <div class="profile-card">

                        <!-- Options Icon -->
                        <div class="options-icon" onclick="toggleOptions(this)">
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </div>
        
                        <!-- Edit and Delete Options (hidden by default) -->
                        <div class="options-dropdown hidden ">
                            <div class="option edit">
                                <a href='/users/edit/{{user._id}}'>{{#if (isEqual navdata.language "English")}}Edit{{else}}تعديل{{/if}}</a>
                            </div>
                            <div class="option delete">
                                <a id="del{{user._id}}" onclick="deleteConfirm('{{user._id}}')" href='#'>{{#if (isEqual navdata.language "English")}}Delete{{else}}حذف{{/if}}</a>
                            </div>
                            <div class="option reset">
                                <a id="reset{{user._id}}" onclick="resetConfirm('{{user._id}}')">{{#if (isEqual navdata.language "English")}}Reset{{else}}إعادة تعيين{{/if}}</a>
                            </div>
                        </div>
                    </div>

                    {{!-- User Photo --}}
                    <div class="imageColumn" value="click to upload image">
                        {{#if user.profilePic}}
                        <img class="img" src="{{receiptImage user.profilePic}}">
                        {{else}}
                        <img class="img" src="/images/avatar.jpg">
                        {{/if}}
                    </div>

                    {{!-- Profile Information Phone/Email --}}
                    <div id="stats">
                        <div class="col">
                            <p class="stat"><i class='bx bx-phone'></i></p>
                            <p class="label able" dir="ltr">{{user.phone.dialCode}} {{user.phone.number}}</p>
                        </div>

                        <div class="col">
                            <p class="stat"><i class='bx bx-envelope'></i></p>
                            <p class="label able">{{user.email}}</p>
                        </div>

                        <div class="col">
                            <p class="stat"><i class='bx bx-user'></i></p>
                            <p class="label able">{{user.type}}</p>
                        </div>
                    </div>
                </div> 
            {{/each}}
        </div>

        {{!-- Add New User Anchor --}}
        <a href="users/add" type="button" class="add-anchor">+</a>

    </div>
</section>

<script>
    // Function to display/hide the Edit/Delete option panel
    function toggleOptions(element) {
        const dropdown = element.nextElementSibling;
        if (dropdown.classList.contains('hidden')) {
            dropdown.classList.remove('hidden');
        } else {
            dropdown.classList.add('hidden');
        }
    }

    // The Search Function
    const search = () => {
        let input, filter,div, cards, card, data, txtValue, counter;

        input = document.getElementById("search")
        filter = input.value.toUpperCase();
        div = document.getElementById('content')

        for(let i=0; i<div.getElementsByClassName('card').length;i++){
            cards = div.getElementsByClassName('card')[i]
            card = cards.querySelectorAll('.able')
            counter = 0;

            for(let j=0; j<card.length;j++){
                data = card[j]
                txtValue = data.innerText 
                if(txtValue.toUpperCase().indexOf(filter)>-1){
                counter ++;
                }
            }
            if(counter>0){
                cards.style.display = ""
            }else{
                cards.style.display = "none";
            }
        }
    }
    // Confirmation for deleting a user
    const deleteConfirm = (id) => {
        let deleteButton = document.getElementById(`del${id}`)
        let message = language === "English" ? 'Are You Sure you want to delete this user?' : "هل أنت متأكد أنك تريد حذف هذا المستخدم؟"
        if(confirm(message)){
            location.href = `/users/delete/${id}`
        }
    }

    const resetConfirm = (id) => {
        let resetButton = document.getElementById(`reset${id}`)
        let message = language === "English" ? 'Are You Sure you want to reset the password for this user?' : "هل أنت متأكد أنك تريد إعادة تعيين كلمة المرور لهذا المستخدم؟"
        if(confirm(message)){
            location.href = `/users/reset/${id}`
        }
    }

</script>