<div class="step_bar_continer">
    <div class="bar_container">
        <div class="steps">

            <div class="step-box">
                <div class="middle"><span class="circle">{{#if (isEqual navdata.language "English")}}1{{else}}١{{/if}}</span></div>
                <p class="middle">{{#if (isEqual navdata.language "English")}}Submit{{else}}تقديم{{/if}}</p>
            </div>

            <div class="step-box">
                <div class="middle"><span class="circle">{{#if (isEqual navdata.language "English")}}2{{else}}٢{{/if}}</span></div>
                <p class="middle" value="Initial Decision">{{#if (isEqual navdata.language "English")}}Initial{{else}}أولي{{/if}}</p>
            </div>

            <div class="step-box">
                <div class="middle"><span class="circle">{{#if (isEqual navdata.language "English")}}3{{else}}٣{{/if}}</span></div>
                <p class="middle">{{#if (isEqual navdata.language "English")}}Upload Receipt{{else}}رفع الايصال{{/if}}</p>
            </div>

            <div class="step-box">
                <div class="middle"><span class="circle">{{#if (isEqual navdata.language "English")}}4{{else}}٤{{/if}}</span></div>
                <p class="middle">{{#if (isEqual navdata.language "English")}}Payment{{else}}الدفع{{/if}}</p>
            </div>

            <div class="step-box">
                <div class="middle"><span class="circle">{{#if (isEqual navdata.language "English")}}5{{else}}٥{{/if}}</span></div>
                <p class="middle">{{#if (isEqual navdata.language "English")}}Add Committee{{else}}إضافة لجنة{{/if}}</p>
            </div>

            <div class="step-box">
                <div class="middle"><span class="circle">{{#if (isEqual navdata.language "English")}}6{{else}}٦{{/if}}</span></div>
                <p class="middle">{{#if (isEqual navdata.language "English")}}In Process{{else}}تحت المعالجة{{/if}}</p>
            </div>

            <div class="step-box">
                <div class="middle"><span class="circle">{{#if (isEqual navdata.language "English")}}7{{else}}٧{{/if}}</span></div>
                <p class="middle">{{#if (isEqual navdata.language "English")}}Final{{else}}النهائي{{/if}}</p>
            </div>
                
            <div class="progress-bar">
                <span class="indicator"></span>
            </div>
                
        </div>            
    </div>
</div>

<style>
    .step_bar_continer{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 30px;
    }

    .bar_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 700px;
        width: 100%;
        background-color: rgba(18, 37, 67, 0.5);
        border-radius: 10px;
        padding: 0 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        gap: 20px;
    }
    .bar_container .steps {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .steps .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        color: #999;
        font-size: 16px;
        font-weight: 500;
        border-radius: 50%;
        background: #fff;
        border: 4px solid #e0e0e0;
        transition: all 700ms ease;
        transition-delay: 0s;
        z-index: 1;
    }
    .steps .circle.active {
        transition-delay: 700ms;
        border-color: #8cc4df;
        color: #8cc4df;
    }
    .steps .progress-bar {
        position: absolute;
        height: 4px;
        width: 90%;
        {{#if (isEqual navdata.language "English")}}
        margin-left: 5%;
        {{else}}
        margin-right: 5%;
        {{/if}}
        background: #e0e0e0;
        z-index: 0;
    }

    .steps .circle.done {
        transition-delay: 150ms;
        background-color: #8cc4df;
        border-color: #8cc4df;
        color: white;
    }

    .steps .circle.done::before {
        content: ''; /* Empty content to make the number disappear */
    }

    .steps .circle.done::after {
        content: '✔'; /* Display the checkmark */
        color: white;
        font-size: 20px;
    }


    .progress-bar .indicator {
        position: absolute;
        height: 100%;
        width: 0%;
        background: #8cc4df;
        transition: all 1000ms ease;
    }
    .step-box{
        margin-top: 25px;
        z-index: 1;
        width: 81px;
    }
    .step-box p{
        color: white;
        padding-top: 7px;
        font-size: 10px;
    }
    .middle{
        display: flex;
        justify-content: center;
    }
    .end{
        display: flex;
        justify-content: end;
    }

    @media screen and (orientation: portrait){
        .step-box{
            margin-top: 15px;
        }
        .step-box p{
            font-size: 6px;
        }
    }

    @media (max-width: 720px) and (orientation: landscape){
        .step-box{
            margin-top: 20px;
        }
        .step-box p{
            font-size: 8px;
        }
        
    }
</style>