{{> Navbar/sidebar}}
{{> Researches/addResearchCSS}}

<section class="home-section home-section-container">
    <div class="researchContainer">
        {{!-- Header --}}
        <div class="header">
            <div class="link">
                <a href="/researches" type="button">
                    {{#if (isEqual navdata.language "English")}}
                    <i class="fa-solid fa-arrow-left"></i>
                    {{else}}
                    <i class="fa-solid fa-arrow-right"></i>    
                    {{/if}}
                </a>
                <h1>{{#if (isEqual navdata.language "English")}}Upload Receipt{{else}}رفع الايصال{{/if}}</h1>
            </div>
            <div class="error"><span id="error"></span></div>
        </div>

        {{!-- Research Data Form --}}
        <form action="/researches/uploadreceipt/{{research._id}}" name="researchForm" id="receiptForm" method="post" enctype="multipart/form-data">
            <div class="research-details">
            <!-- Upload Receipt -->
            <div class="input-box" id="dragDropArea">
                <label class="detail"><i class="fa-solid fa-cloud-arrow-up"></i></label>
                <p>{{#if (isEqual navdata.language "English")}}Drag your files here or click to browse.{{else}}اسحب ملفاتك هنا أو انقر للتصفح.{{/if}}</p>
            </div>

            <input type="file" id="file" min="0" name="receiptImage">
    
        </div>
                    
            <div class="button">
                <input type="submit" value="{{#if (isEqual navdata.language "English")}}Upload{{else}}رفع{{/if}}">
            </div>
        </form>
    </div>
</section>

<script>
    const form = document.getElementById('receiptForm')
    const dragDropArea = document.getElementById("dragDropArea");
    const fileInput = document.getElementById("file");

    dragDropArea.addEventListener("click", (e) => {
        fileInput.click(); // Trigger the click on the file input
    });

    dragDropArea.addEventListener("dragover", (e) => {
        e.preventDefault()
        dragDropArea.classList.add("dragover");
    });

    dragDropArea.addEventListener("dragleave", () => {
        dragDropArea.classList.remove("dragover");
    });

    dragDropArea.addEventListener("drop", (e) => {
        e.preventDefault()
        dragDropArea.classList.remove("dragover");

        const files = e.dataTransfer.files;
        if (files.length > 0) {
            fileInput.files = files;
            updateDragDropText();
        }
    });

    fileInput.addEventListener("change", updateDragDropText);

    function updateDragDropText() {
        const files = fileInput.files;
        const dragDropText = files.length > 0 ? language === "English" ? `${files.length} file(s) selected` : `تم اختيار ${files.length} ملف` : language === "English" ? "Drag your files here or click to browse." : "اسحب ملفاتك هنا أو انقر للتصفح.";
        dragDropArea.querySelector("p").textContent = dragDropText;
    }

    /*form.addEventListener('submit', (e)=> {
        e.preventDefault()
        const formData = new FormData(form)
        
        fetch('/researches/uploadreceipt/{{research._id}}',{
            method: "POST",
            body: formData
        })
        .then(res => res.json())
        .then((data)=>{
            if(data.message){

            }
            if(data.redirect) window.location = data.redirect
        })
        .catch(err => console.error(err))
    })*/

    // Validation Message
    if('{{errorMessage}}'){
        document.getElementById('error').innerHTML = '{{errorMessage}}'
        document.getElementById('error').style.backgroundColor = 'rgba(255, 0, 0, 0.7)'
    }

</script>


<style>
    
    .link a {
        text-decoration: none;
        color: #333;
        font-size: 20px;
        margin-right: 10px;
    }

    h1 {
        font-size: 24px;
        margin: 0;
    }

    .error {
        color: white;
        font-size: 14px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .research-details {
        margin-bottom: 20px;
    }

    .input-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    label {
        font-size: 16px;
        margin-bottom: 5px;
    }

    label i{
        font-size: 50px;
        color: #8cc4df;
    }

    input[type="file"] {
        display: none;
    }

    #dragDropArea {
        border: 2px dashed #8cc4df;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        transition: border 0.3s ease;
    }

    #dragDropArea.dragover {
        border-color: #2ecc71;
    }

    #dragDropArea p {
        margin: 0;
        margin-top: 10px;
        font-size: 16px;
        color: #8cc4df;
    }

    
</style>